<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minesweeper Demo</title>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/mineSW_lib.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/mineSW.css">
</head>
<body>

    <h1>Minesweeper demo - Santiago Vidal 2020</h1>
    <p>Left click: clears cell</p>
    <p>Right click: marks cell</p>

    <label for="debug">Debug Mode</label><input type="checkbox" id="debug"/>
    <label for="cols">Columns</label><input type="text" id="cols" value="10"/>
    <label for="rows">Rows</label><input type="text" id="rows" value="10"/>
    <input type="button" onclick="doStartGame()" value="Start Game"/>


    <div id="board"></div>

    <script>
        var ms = new MineSW();
        ms.setRenderCallback(renderBoard);
        function doStartGame() {
            ms.startGame($('#rows').value, $('#cols').value);
        }

        function doClearCell(elem) {
            ms.clearCell(this.row, this.col);
        }

        function doMarkCell(elem) {
            ms.markCell(this.row, this.col);
            return false;
        }

        function renderBoard(data) {

            var gameover = false;
            var board = data.board;
            var table = document.createElement('table');

            for(var y = 0; y < board.length; y++) {

                var row = board[y];
                var tr = document.createElement('tr');

                for(var x = 0; x < row.length; x++) {

                    var td = document.createElement('td');
                    td.row = y;
                    td.col = x;
                    td.onclick = doClearCell;
                    td.oncontextmenu = doMarkCell;


                    var cell;
                    switch(row[x].flags) {

                        case Uncleared: cell = '.'; break;
                        case UnclearedAndMarked: cell = '?'; break;
                        case ZeroAdjacentMines: cell  = ' '; break;
                        case OneAdjacentMines: cell   = '1'; break;
                        case TwoAdjacentMines: cell   = '2'; break;
                        case ThreeAdjacentMines: cell = '3'; break;
                        case FourAdjacentMines: cell  = '4'; break;
                        case FiveAdjacentMines: cell  = '5'; break;
                        case SixAdjacentMines: cell   = '6'; break;
                        case SevenAdjacentMines: cell = '7'; break;
                        case EightAdjacentMines: cell = '8'; break;
                        case Mine:
                            cell = '*';
                            gameover = true; //if server sent mines then you've losed
                            break;
                    }
                    if($('#debug')[0].checked && row[x].hasMine && cell !== '?') { //debug code
                        td.classList.add('debugMine');
                        cell = '#';
                    }
                    td.innerHTML = cell;
                    tr.appendChild(td);
                }
                table.appendChild(tr);
            }

            var htmlBoard = document.getElementById('board');
            htmlBoard.innerHTML = '';
            htmlBoard.appendChild(table);

            if(gameover) {
                setTimeout(function() { alert('kabooom! game over'); }, 100);
            } else if(data.winner) {
                setTimeout(function() { alert('you won!'); }, 100);
            }

        }

    </script>
</body>
</html>